@import url(https://fonts.googleapis.com/css2?family=Radio+Canada+Big);
/* ------------------------------------------------ */
html {
	scrollbar-color: orange black;
}
::-webkit-scrollbar {
	width: 16px;
}
::-webkit-scrollbar-track {
	background: black;
}
::-webkit-scrollbar-thumb {
	background: orange;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}
body {
	background-color: black;
	animation: 1s ease-in 0s 1 fadeIn;
	padding: 1%;
	font-family: "Radio Canada Big";
	color: #faac04;
}
/* ------------------------------------------------ */
.main {
	display: flex;
	justify-content: center;
	padding-top: 2%;
}
.image {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 30px;
}
.image a {
	text-decoration: none;
	color: #faac04;
}
.links {
	display: flex;
	justify-content: space-evenly;
	font-size: 20px;
}
.links a {
	text-decoration: none;
	color: #faac04;
	font-weight: bold;
}
/* ------------------------------------------------ */
.about {
	display: flex;
	width: 300px;
	font-size: 17px;
}
.about li {
	padding-top: 4.8%;
}
/* ------------------------------------------------ */
.projects {
	display: flex;
	width: 300px;
}
.project1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	padding-top: 5%;
	text-align: center;
}
.projects a {
	text-decoration: none;
	color: #faac04;
	font-size: 20px;
	font-weight: bold;
}
/* ------------------------------------------------ */
